*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(185, 178, 178, 0.993);
}

        /*MENU*/

nav{
    text-align: center;
    font-family: 'Raleway';
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(88, 88, 88, 0.993);
}
nav ul{
    display: inline;
    list-style: none;
}
nav ul li{
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}
a{
    text-decoration: solid;
    color: #030202;
}
a:hover{
    color: dimgray;
}
.icon{
    display: none;
}
h1{
    font-family: 'Oswald', cursive;
    font-size: 4rem;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
body{
    background-repeat: cover; 
}

        /*INDEX*/

.Info h2{
    text-align: left;
    font-weight: bold;
}
.Info{
    font-family: 'Raleway';
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(185, 178, 178, 0.993);;
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.cartelera{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
}
.portal{
    width: 33%;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.portal h3{
    margin: 1rem;
}
.portal img{         
    width: 80%;
    height: auto;
    margin: 1rem;
    border: 2px solid black;
}
.carteleraTemp{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content:center;
}

        /*PERSONAJES*/

.personaje
{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: block;
}
.infoPersonaje
{
    width: 98%;
    padding: 1%;
    margin: auto;
    margin-bottom: 2%;
    display: block;
    text-align: left;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.infoPersonaje h2{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}
.infoPersonaje a{
    margin: 100rem;
    font-size: 150%;
}
.infoPersonaje img{
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border: 4px solid black;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
}

          /*TEMPORADAS*/
.Temporada{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: block;
}
.portalTemp{
    width: 33%;
    height: auto;
    padding: 0.1rem;
    margin: 0.1rem;
    margin-left: 1rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.portalTemp h3{
    margin: 1rem;
}
.portalTemp img{         
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    border: 2px solid black;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;;
}
.infoTemporada
{
    width: 98%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2%;
    display: block;
    text-align: left;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.infoTemporada h2{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}
.Volver{
    font-size: 200%;
    margin: 47%;
    text-align: right;
    text-decoration: solid;
}
.infoTemporada img{
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border: 4px solid black;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
}

        /*GALERIA*/

.galeria{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
}
.galeriaMuestra{
    width: 100%;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
.gallery{
    border: 4px solid black;
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
}
.imgGaleria{
    width: 10%;
    height: auto;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
}
        /*CONTACTO*/

.contacto{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
}
.portalContacto{
    width: 33%;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    display: inline;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}        
form label{
    font-family: 'Oswald';
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
textarea{
    width: 50%;
    height: auto;
}
button{
    width: 25%;
    height: 25%;
    margin-bottom: 1rem;
}
        /*FOOTER*/

footer{
    padding: 1%;
    background-color: rgba(87, 87, 87, 0.993);
    font-family: 'Raleway';
    text-align: center;
    font-size: 120%;
}
footer img{
    padding-top: 3rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
    max-width: 2.5rem;
}
@media screen and (max-width: 576px){
    .icon{
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 420px;
        margin-bottom: 2%;
        float: left;
        display: block;        
        padding: 2.5%;
        background-color: #4e4e4e93;
        border-radius: 75px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;        
    }
    .icon p{
        font-size: 1rem;
        text-align: center;
        color:rgb(17, 17, 17);
        font-weight: bolder; 
    }
h1{
    font-size: 2rem;
}
.Info{
    margin: 1rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    font-size: 100%;
}
.cartelera{
    margin: 1rem;
    padding: 0.2rem;
    display: inline-block;
    justify-content: center;
}
.portal{
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    margin: 0.3rem;
    margin-bottom: 0.5rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 90%;
    justify-content:center;
}
.portal img{         
    width: 80%;
    height: 100%;
    margin: 1rem;
    border: 4px solid black;
    text-align: center;
}
.personaje
{
    margin: 1rem;
    padding: 0.5rem;
    font-family: 'Raleway';
    display: inline-block;
    justify-content: center;
}
.infoPersonaje
{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    display: block;
    text-align: left;
    font-size: 100%;
    justify-content:space-between;
}
.infoPersonaje h2{
    text-align: center;
    text-decoration:solid;
    text-transform: uppercase;
    padding-top: 0.5rem;
}
.infoPersonaje img{
    width:100%;
    height: auto;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    display: block;
}

        /*TEMPORADA*/

.Temporada
{
    margin: 1rem;
    padding: 1rem;
    display: block;
}
.carteleraTemp{
    margin: 1rem;
    padding: 0.5rem;
    display: inline-block;
    justify-content: center
}
.portalTemp{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    display: block;
    text-align: left;
    font-size: 100%;
    justify-content:space-between;
}
.portalTemp img{         
    width:100%;
    height: auto;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    display: block;
}
 
.infoTemporada
{
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2%;
    display: block;
    text-align: left;
    font-size: 110%;
}
.infoTemporada h2{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}
.Volver{
    font-size: 150%;
    margin: 30%;
    text-align: right;
    text-decoration: solid;
}
.infoTemporada img{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    display: block;
}

        /*GALERIA*/

.galeria{
    margin: 2rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
}
.galeriaMuestra{
    width: 100%;
    height: 100%;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
}
.imgGaleria{
    width: 85%;
}

        /*CONTACTO*/
.contacto{
    margin: 1rem;
    padding: 1rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.portalContacto{
    width: 100%;
    height: max-content;
    padding: 0.1rem;
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(185, 178, 178, 0.993);
    font-size: 120%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border: 4px solid black;
}
form label{
    font-family: 'Oswald';
    font-size: 1.5rem;
    margin-top: 1rem ;
    margin-bottom: 1rem;
    text-align: center;
}
textarea{
    width: 50%;
    height: auto;
}
button{
    width: 25%;
    height: 25%;
    margin-bottom: 1rem;
}
       
        /*FOOTER*/

footer{
    padding: 1%;
    text-align: center;
    font-size: 80%;
}
footer img{
    max-width: 4rem;
    padding-top: 0px;
    margin-right: 0px;
}
        /*MENU RESPONSIVE*/

nav{
    width: 100%;
}
nav ul{
    display: none;
}
nav.responsive ul{
    display: block;
}
nav.responsive ul li{
    display: block;
    text-align: center;
    padding: 1rem;
}
}